h1 {
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 40%;
    max-width: 700px;
}

textarea {
    width: 100%;
    resize: none;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    height: 130px;
    box-shadow: 0 0 4px #b8e4ff;
}
textarea::placeholder {
    color: #116bdf; 
}

.content>div {
    display: flex;
    margin-top: 14px;
}

select {
    text-transform: capitalize;
    margin-right: 7px;
}
button{
    margin-left: 7px;
}
select,
button {

    border: none;
    display: block;
    padding: 8px 8px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    background-color: #fff;
    flex: 1;
    text-align: center;box-shadow: 0 0 4px #b8e4ff;
}
option{
    cursor: pointer;

}

@media only screen and (max-width: 600px) {
    .content>div {
        flex-direction: column
    }

    select,
    button {
        margin: 8px 0 0;
    }

    .content {
        width: 80%;
    }
}